
body { font-family: sans-serif; background: white; padding: 20px; }
h1 { font-size: 32px; }

.s-box {
  padding: 30px;
  margin: 20px 0;
  border-radius: 16px;
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;
  color: white;
}

.add-box {
  border: 3px solid black;
  background: white;
  color: black;
  padding: 25px;
  margin-top: 30px;
  border-radius: 16px;
  font-size: 30px;
  font-weight: 800;
}
